body {
    background: linear-gradient(90deg, rgba(152,54,10,1) 0%, rgba(219,134,0,1) 12%, rgba(255,162,59,0.8421743697478992) 70%) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 4em !important;
    color: white !important;
}

#gameOverPopUp {
    display: none;
}

/* Estilos para el contenedor de la información */
.infoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.infoContent h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: darkgray !important;
}

.infoContent p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.infoContent .btn {
    width: 150px;
    justify-content: center;
}

/* Estilos adicionales para el botón */
.infoContent .btn.btn-primary {
    background-color: rgba(202, 0, 0, 0.702) !important;
    border: none;
}

.infoContent .btn.btn-primary:hover {
    background-color: rgba(202, 0, 0, 0.914) !important;
}
  

#initialContent p {
    color: white;
    font-size: 2em !important;
}

.initialContentButtons {
    display: flex;
    justify-content: space-around;
}

.initialContentButtons__play, .initialContentButtons__info {
    width: 150px;
}

.initialContentButtons__play{
    background-color: rgba(202, 0, 0, 0.702) !important;
}

.initialContentButtons__info {
    background-color: rgba(0, 0, 0, 0.246) !important;
    color: white !important;
    width: 150px !important;
    border: 1px solid rgba(0, 0, 0, 0.176) !important;
}

.puppet{
    display: none;
}


.btn.btn-warning {
    width: 60px;
}


.gameContent {
    display: none;
}

.gameContent__hanging{
    height: 400px;
    width: 200px;
    border: 1px solid;
}

.gameContent__letters{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gameContent__letters__hiddenWord{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infoContent {
    display: none;
    flex-direction: column;
}
